body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #000;
  color: white;
}

.item {
  border: 1px solid rgb(135, 203, 226);
  color: white;
  background: #575b5fda;
  margin: 5px;
  padding: 5px;
  word-wrap: break-word;
  border-radius: 3px;
}

.item.active {
  border: 2px solid red;
}

.item:hover {
  cursor: pointer;
}
